  
.container{
    display: flex;
    padding: 20;
    align-items: 'center';
  }
  .titulo{
    font-size: 26;
    font-weight: 'bold';
    margin-bottom: 35;
    text-align: "center";
    margin: 120;
    padding: 20;
    height: 100;
    width: 300;
    color: '#2E3E5C';
  }

  
  .inputBox{
    justify-content: 'center';
    align-items: 'center';
    border-color: '#d5d5d5';
    border-radius: 10;
    margin: 15 ;
    margin-bottom: 30;
    height: 200;
    width: 300;
  }
  
  

  .iconEye{
    position: 'absolute';
    right: 15;
    color: '#9FA5C0';
  }
  .linhaInput{
    flex-direction: 'row';
    align-items: "center";
    margin-bottom: 15;

  }
  .inputNormal{
    border-width: 1;
    border-color: '#d5d5d5';
    width: 327;
    height: 56;
    border-radius: 45;
    
  }
  .inputFocus{
    border-width: 1;
    border-color: '#1fcc79';
    border-radius: 45;
    width: 327;
    height: 56;
    
  }
  .forgotPass{
    width:327;
    height:56;
    margin-top: 20;
    background-color: '#00000000';
    justify-content: 'center';
  }
  .boxBotao{
    width:327;
    height:56;
    margin-top: 20;
    background-color: '#1fcc79';
    border-radius: 45;
    justify-content: 'center';
    margin-bottom: 100;

  }
  /* .botaoLogin{}; */
  .cadastroTexto{
    color: '#400303';
    height: 200;
    width: 300;
    margin-top: 50;
  }